body
{
    height: 100vh;
    background-image: url(images/bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welc
{
    position: absolute;
    color:whitesmoke;
    text-align: center;
    top: 40px;

}

.welc h4
{
    font-size: medium;
    font-style: italic;
    letter-spacing: 2px;
}

.welc h2
{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
}

.main
{
    background-color: #e6c9a8;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    margin:100px auto;
    text-align: center;
    
}

.user
{
    text-align: center;
}

.pass
{
    text-align: center;
}